{{define "base"}}
<!doctype html>
<html lang='en'>
	<meta name="author" content="Eduardo Rodriguez">
	<meta name="description" content="A time scheduling management website for 
	a tennis court.">
	
	<head>
		<meta charset='utf-8'>
		<title>{{template "title" .}} - GoTennis</title>
		<!-- CSS Stylesheet and favicon -->
		<link rel='stylesheet' href='/static/css/main.css'>
		<!-- 
		* Icon's copyright:
		2020 Twitter, Inc and other contributors 
		(https://github.com/twitter/twemoji)
		* Graphic's Source: 
		https://github.com/twitter/twemoji/blob/master/assets/svg/1f3be.svg
		* Graphic's License: 
		CC-BY 4.0 (https://creativecommons.org/licenses/by/4.0/)
		-->
		<link rel='icon' href='/static/img/favicon.ico' type='image/x-icon'>
		<!-- missing link to google fonts -->
	</head>
	<body>
		<header>
			<h1><a href='/'>Tennis bookings</a></h1>
		</header>
		<nav>
			<div>
				<a href='/'>Root</a>
				{{if .AuthenticatedUser}}
					<a href='/session/create'>Create tennis session</a>
				{{end}}
			</div>
			<div>
				{{if .AuthenticatedUser}}
					<form action='/user/logout' method='POST'>
						<!-- Only the POST requests are protected against CSRF
						since they are the only non-safe methods, the only
						POST method in this page is the logout request, so it
						is the only one that gets the CSRF Token -->
						<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
						<button>Logout ({{.AuthenticatedUser.Name}})</button>
					</form>
				{{else}}
					<a href='/user/signup'>Signup</a>
					<a href='/user/login'>Login</a>
				{{end}}		
			</div>
		</nav>
		<section>
			{{with .Flash}}
				<div class='flash '>{{.}}</div>
			{{end}}
			{{template "body" .}}
		</section>
		{{template "footer" .}}
		<!-- JS file -->
		<script src="/static/js/main.js" type="text/javascript"></script> 
	</body>
</html>
{{end}}
